<mat-toolbar color="primary">
  <span> Web Client</span>
  <span class="example-spacer"></span>
</mat-toolbar>

<div class="searchBar">
  <mat-form-field appearance="outline">
    <mat-label>Search...</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Infomation Here"
      #input
    />
  </mat-form-field>
  <!-- button search -->
  <!-- <button mat-raised-button>Search Employee</button> -->
</div>

<div class="mat-elevation-z8">
  <header class="header">
    <h3>List of employee</h3>
    <!-- button Add emp -->
    <button mat-raised-button (click)="openAddEditEmpForm()">Add</button>
  </header>

  <table mat-table [dataSource]="dataSource" matSort>
    <!-- fix empId to refill filed -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let row">{{ row.id }}</td>
    </ng-container>
    
    <ng-container matColumnDef="empId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee ID</th>
      <td mat-cell *matCellDef="let row">{{ row.empId }}</td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
      <td mat-cell *matCellDef="let row">{{ row.firstName }}</td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
      <td mat-cell *matCellDef="let row">{{ row.lastName }}</td>
    </ng-container>


    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let row">{{ row.email }}</td>
    </ng-container>

    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Active</th>
      <td mat-cell *matCellDef="let row">{{ row.active }}</td>
    </ng-container>

    <!-- for Action -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="openEditForm(row)">
          <mat-icon>edit</mat-icon>
        </button>
        <!-- แก้ empId -->
        <button mat-icon-button color="warn" (click)="deleteEmployee(row.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No data matching the filter "{{ input.value }}"
      </td>
    </tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[10]"
    aria-label="Select page of users"
  ></mat-paginator>
</div>
